# ruby and bundler files
.bundle
Gemfile.lock
lib/bundler/man
*.gem
*.rbc

# rbenv / rvm files
.ruby-version
.ruby-gemset
.rvmrc

# YARD artifacts
.yardoc
_yardoc
doc/

# berkshelf files
vendor/
Berksfile.lock

#chef files
Policyfile.lock.json
.zero-knife.rb

# kitchen files
.kitchen/
.kitchen.local.yml

#vagrant files
.vagrant/
.vagrant.d/

# other files
.config
coverage
InstalledFiles
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
_Store
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.tmp
*.bk
*.bkup
.coverage/
.idea
