---
name: ci

"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  lint-unit:
    uses: sous-chefs/.github/.github/workflows/lint-unit.yml@4.1.0
    permissions:
      actions: write
      checks: write
      pull-requests: write
      statuses: write
      issues: write

  integration:
    needs: "lint-unit"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - "almalinux-8"
          - "almalinux-9"
          - "centos-stream-9"
          - "debian-12"
          - "debian-13"
          - "ubuntu-2004"
          - "ubuntu-2204"
          - "ubuntu-2404"
        suite:
          - "default"
          - "cacher"
          - "compile-time"
          - "unattended-upgrades"
        exclude:
          - os: almalinux-8
            suite: cacher
          - os: almalinux-8
            suite: compile-time
          - os: almalinux-8
            suite: unattended-upgrades
          - os: almalinux-9
            suite: cacher
          - os: almalinux-9
            suite: compile-time
          - os: almalinux-9
            suite: unattended-upgrades
          - os: centos-stream-9
            suite: cacher
          - os: centos-stream-9
            suite: compile-time
          - os: centos-stream-9
            suite: unattended-upgrades
      fail-fast: true

    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - name: Install Chef
        uses: actionshub/chef-install@3.0.1
      - name: Dokken
        uses: actionshub/test-kitchen@3.0.0
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.dokken.yml
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}
